<h2>Sign into your account</h2>

<form action="<%=session_url%>" method="post">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

    <label>Email:</label>
    <input type="text" name="user[email]" value="" >

    <label>Password:</label>
    <input type="text" name="user[password]" value="">

    <input type="submit" value="log in">
</form>